@import "../../../styleVariables.scss";

.card-mini {
  margin: 5px;
  background-color: #{$primary};
  color: white;
  padding: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.34);
  text-shadow: 0px 0px 7px black;
  font-size: 1.1rem;
}

mat-card {
  margin-left: $padding;
  width: calc(100% - #{($padding + 16px) * 2});
  background-color: #{$light};

  mat-card-title {
    color: #{$text-dark};
  }
}

button {
  color: #{$text-dark};
  background: #{$accent};
}