@import "../../../styleVariables.scss";

:host {
  user-select: none;
}

.navbar {
  margin-top: 40px;
  padding: 0px;
  width: calc(100% - #{ $padding * 2 });
  margin-left: $padding;
  border-radius: 3px;
  display: inline-flex;

  .navbar-item {
    padding: 15px;
    margin-right: 5px;
    border-radius: 6px;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #{$text-dark};
    text-transform: uppercase;
    background-color: #{$accent};
  }
}