@import "../../../styleVariables.scss";

.navbar {
  margin-top: 40px;
  padding: 0px;
  width: calc(100% - #{ $margin-left * 2 });
  margin-left: $margin-left;
  border-radius: 3px;
  display: inline-flex;

  .navbar-item {
    padding: 15px;
    margin-right: 5px;
    border-radius: 6px;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.4);
  }
}