<div class="container">
  <div *ngIf="!isProduction">
    <style>
     mat-form-field {
       display: block;
     } 
    </style>
    <mat-form-field>
      <input #title matInput type="text" name="title" placeholder="Title...">
    </mat-form-field>
    
    <mat-form-field>
      <input #scramble matInput type="text" name="scramble" placeholder="Scramble...">
    </mat-form-field>

    <mat-form-field>
      <input #link matInput type="text" name="link" placeholder="link...">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cube type...</mat-label>
      <mat-select required #cubeType>
        <mat-option value="rubik">Rubik</mat-option>
        <mat-option value="pyraminx">Pyraminx</mat-option>
        <mat-option value="square1">Square One</mat-option>
        <mat-option value="axis">Axis</mat-option>
        <mat-option value="skewb">Skewb</mat-option>
        <mat-option value="fisher">Fisher</mat-option>
        <mat-option value="ivy">Ivy</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Cube Mode...</mat-label>
      <mat-select required #cubeMode>
        <mat-option value="0">NORMAL</mat-option>
        <mat-option value="1">OLL</mat-option>
        <mat-option value="2">PLL</mat-option>
        <mat-option value="3">CMLL</mat-option>
        <mat-option value="4">F2L</mat-option>
        <mat-option value="5">COLL</mat-option>
        <mat-option value="6">WV</mat-option>
        <mat-option value="7">ELL</mat-option>
        <mat-option value="8">VLS</mat-option>
        <mat-option value="9">ZBLL</mat-option>
        <mat-option value="10">OLLCP</mat-option>
        <mat-option value="11">GRAY</mat-option>
        <mat-option value="12">CENTERS</mat-option>
        <mat-option value="13">CROSS</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput #order type="number" name="order" placeholder="Order..." value="3"
        [disabled]="cubeType.value != 'rubik' && cubeType.value != 'pyraminx'">
    </mat-form-field>

    <mat-checkbox #timer type="checkbox" name="timer"></mat-checkbox>
    <mat-label>Timer...</mat-label>

    <button type="submit" mat-stroked-button color="primary"
      (click)="save(title.value, scramble.value, link.value, cubeType.value, cubeMode.value, order.value, timer.checked)">Save</button>
  </div>
  <ul class="card-container">
    <mat-card *ngFor="let card of cards" class="card" [routerLink]="card.route">
      <mat-card-content>
        <a [routerLink]="card.route">
          <img (dragstart)="false" [src]="card.cube" class="puzzle-img" [class.ready]="card.ready">
          <img (dragstart)="false" *ngIf="card.timer" src="./assets/timer.svg" class="timer">
        </a>
      </mat-card-content> 
      <mat-card-footer>{{card.title}}</mat-card-footer>
    </mat-card>
  </ul>
</div>