<app-frame></app-frame>
<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->

<app-iterative-puzzle></app-iterative-puzzle>

<!-- <div>
<img [src]="imgs[0]" style="margin-top: 100px; margin-left: 100px;">
<img [src]="imgs[0]" style="margin-top: 100px; margin-left: 100px;">
  <mat-select [(value)]="type" (selectionChange)="updateCube(type)">
    <mat-option value="megaminx">Megaminx</mat-option>
    <mat-option value="pyraminx">Pyraminx</mat-option>
    <mat-option value="rubik">Rubik</mat-option>
  </mat-select>
  <img [src]="imgs[1]" style="margin-top: 100px; margin-left: 100px;">
</div> -->

<!-- <input [(ngModel)]="color" type="color" (change)="setMegaColor()">
<button mat-stroked-button (click)="setMegaColor()">Set Mega Color</button> -->

<!-- <div>
  <input [(ngModel)]="scramble" type="text">
  <span>{{mid}}</span>
  <button mat-stroked-button (click)="lower()">Lower</button>
  <button mat-stroked-button (click)="higher()">Higher</button>
  <button mat-stroked-button (click)="updateCube()">Update</button>
</div> -->