<div class="container">
  <div class="image-placeholder" [class.nshow]="type != 3">
    <img (dragstart)="false" [src]="selectedCase?.cube || ''" class="puzzle-img" alt="">
    <span>{{selectedCase?.name}}</span>
  </div>
  <ul class="card-container" [class.nshow]="type >= 2">
    <mat-card *ngFor="let card of cards" class="card" [routerLink]="card.route">
      <mat-card-content>
        <img (dragstart)="false" [src]="card.cube" class="puzzle-img" [class.ready]="card.ready" alt="">
        <img (dragstart)="false" *ngIf="card.timer" src="./assets/timer.svg" class="timer">
      </mat-card-content> 
      <mat-card-footer>{{card.title}}</mat-card-footer>
    </mat-card>
  </ul>
  <table *ngIf="type >= 2" [hidden]="type === 3" mat-table [dataSource]="cases" 
    multiTemplateDataRows class="mat-elevation-z8 algorithm-container">
    <ng-container matColumnDef="case">
      <th mat-header-cell *matHeaderCellDef>Case</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a class="case" [routerLink]="element.parentPath" [queryParams]="{ case: element.shortName }">
          <img (dragstart)="false" [src]="element.cube" class="puzzle-img" alt="">
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="algorithms">
      <th mat-header-cell *matHeaderCellDef>Algorithms</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li class="algorithm" *ngFor="let solution of element.solutions | slice:0:MAX_ELEMENTS">{{solution.moves}}</li>
        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let element; columns: columns;"
      class="element-row">
    </tr>
  </table>

  <table [class.nshow]="type != 3" mat-table [dataSource]="selectedCase?.solutions" 
    multiTemplateDataRows class="mat-elevation-z8 algorithm-container">
    <ng-container matColumnDef="case">
      <th mat-header-cell *matHeaderCellDef>Solution</th>
      <td mat-cell *matCellDef="let element">{{element.moves}}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <ng-container matColumnDef="algorithms">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let element; columns: columns;"
      class="element-row">
    </tr>
  </table>
</div>