/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./fonts.scss";
@import "./styleVariables.scss";

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: #{$regular-font};
  // background-color: rgba(255, 255, 255, 0.8);
  // background-color: rgba(33, 33, 33, 0.2);
  background-attachment: fixed;
}/* You can add global styles to this file, and also import other style files */

.container {
  width: calc(100% - #{ $margin-right });
  margin-left: $margin-left;
  padding: $padding;
  margin-top: 15px;
}

.container-mini {
  margin-top: 30px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  width: calc(100% - 100px);
  margin-left: 30px;
  padding: $padding;
  border-radius: 11px;
  background-color: #{$light};
  color: #{$text-dark};
  text-align: center;
  font-size: 1.3em;
}

.puzzle-img-mini {
  width: 130px;
  display: inline-block;
  border-radius: 4px;
}

.container .card-container, .container-mini .card-container {
  padding: 0;
  margin: 0;
  
  &:not(.no-grid) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
  }

  .card {
    width: 160px;
    height: 200px;
    display: inline-block;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.24);
    margin: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    background-color: #{$light};
    color: #{$text-dark};
    position: relative;
    vertical-align: top;
    transition: all 300ms;
    
    &:hover {
      cursor: pointer;
      margin-top: 5px;
      box-shadow: 2px 26px 19px rgba(0, 0, 0, 0.4);
      transform: rotate(-2deg);
    }
  
    .puzzle-img {
      width: 100%;
      margin-top: 10px;

      &:not(.ready) {
        width: calc(100% - 60px);
        padding: 30px;
        animation: turn 5s linear infinite;
      }
    }

    span {
      font-size: large;
      position: absolute;
      bottom: 5px;
      width: 100%;
      left: 0;
    }

    .puzzle-img, span {
      display: inline-block;
    }

    .timer {
      position: absolute;
      right: 10px;
      top: 2px;
      min-width: 0;
      width: 62px;
      transform: rotate(16deg);
    }
  }
}

.container .algorithm-container, .container-mini .algorithm-container {
  width: calc(100% + #{$padding * 2});
  margin-left: -$padding;
  margin-top: -$padding;
  margin-bottom: -$padding;
  box-shadow: 0px 0px 0px transparent;
  background-color: #{$bgcard};

  &.light {
    background-color: transparent;
  }

  td:nth-child(2) {
    max-width: 200px;
  }

  .puzzle-img, .case .puzzle-img {
    width: 160px;
    margin: 0px 10px;
    display: inline-block;
    border-radius: 4px;
  }

  .case {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
    cursor: default;

    .algorithm {
      list-style: none;
    }
  }
}

.container .image-placeholder, .container-mini .image-placeholder {
  width: 100%;
  margin-bottom: $padding * 2;
  position: relative;

  span {
    display: inline-block;
    font-size: 3em;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .puzzle-img {
    width: $img-detail-width;
    margin-left: calc(50% - #{$img-detail-width / 2});
    margin-bottom: 1.2em;
    border-radius: 4px;
  }
}

::-webkit-scrollbar {
  // width: 13px;
  // background-color: #0505055c;
  // border-radius: 8px;
  display: none;
}

::ng-deep {
  .mat-select-value-text, .mat-option {
    color: #{$text-dark};
  }

  .mat-select-panel {
    background-color: #{$bgcard};
  }
}