@import "../../../styleVariables.scss";

:host {
  color: #{$text-dark};
}

:host ::ng-deep {
  .mat-form-field-infix {
    width: max-content;
  }

  .mat-form-field-label {
    color: #{$text-dark};
  }

  .mat-cell {
    padding-right: 24px;
  }

  th {
    text-align: center !important;
  }

  td.mat-cell, th.mat-header-cell {
    color: #{$text-dark};
    border-bottom-color: #{$text-dark};
  }
  
  tr:last-child {
    td.mat-cell {
      border-bottom-color: transparent;
    }
  }
  table, table * {
    background: transparent;
  }
}

::ng-deep {
  .cdk-overlay-pane {
    position: absolute;
    height: var(--panel-height);
  }

  .mat-dialog-container {
    background-color: #{$bgcard};
    padding: var(--panel-padding);
    color: #{$text-dark};
  }
}

.element-row {
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    background-color: #888;
  }
}

mat-divider {
  border-top-color: #{$text-dark};
}

.solve-detail {
  .solve-time {
    width: max-content;
    display: inline-block;
    margin: 5px;
  }

  .solve-date {
    float: right;
    margin-top: 10px;

    mat-icon {
      vertical-align: bottom;
    }
  }
}

mat-expansion-panel {
  box-shadow: none;
  border: solid 1px lightgray;
}

mat-form-field {
  width: 100%;
}

.penalty {
  font-size: 0.7em;
  color: red;
}

table {
  width: 100%;
}

.green {
  color: #2dd02d;
}

.red {
  color: red;
}

td:first-child {
  padding: 0px 20px;
}

.sessions mat-icon {
  cursor: pointer;
}

img {
  user-select: none;
}