img, h4 {
  display: inline;
  vertical-align: middle;
  margin-left: 3px;
}

.logo {
  width: 30px;
}

.full-width {
  width: 100%;
  height: 32px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  background-color: #292929;
  color: #959495;
  position: fixed;
  z-index: 1;
  margin-bottom: 10px;
}

.buttons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

mat-icon {
  position: relative;
  height: 100%;
  padding: 0px 10px;
  cursor: pointer;
}